body {
  font-family: 'Outfit', sans-serif;
;
 
}


h1 {
  color: #2e79ba;
  display: block;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #2e79ba;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter{
  text-transform: capitalize;

}

.button{
  color: white;
  background-color: #2e79ba;
  font-weight: bold;
  padding: 7px ;
  border-radius: 12px;
  border: none;
  font-weight: lighter;
  
}
.button:hover{
  opacity: 0.7;
}


.units{
  margin-top: 40px;
}
.weather-app-wrapper{
max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  
  padding: 20px;
  background-color: #93deff;
  opacity: 90%;
  border-radius: 10px;
  box-shadow: 7px 10px 15px 7px #6f888e;
}

.overview{
  margin-bottom: 20px ;
}

.weather-temperature img{
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong{
  color: #000000;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units{
  position: relative;
  font-size: 16px;
  top: -34px;
}



.weather-forecast{
  margin-top: 20px;
  font-weight: bold;
  text-align: center;
  color: #2e79ba;
}

.weather-forecast-date{
  font-smooth: 13px;
}

.weather-forecast-temperature{
  font-size: 14px;
}
.weather-forecast-temperature-max{
  color: black;
  opacity: 0.9;
}

.weather-forecast-temperature-min{
  opacity: 0.8;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.links{
  margin-top: 20px;
text-align: center;
display: block;}

.conditions{
font-weight: bold;}